body{
	font-family: verdana;
	font-size: 13px;
	padding: 10px 30px;
}
h1{
	text-align: center;
}
section{
	text-align: center;
}
article{
	text-align: justify;
}
a{
	text-decoration: none;
	color:steelblue;
	font-weight: bold;
	transition: 300ms ease;
}
a:hover{
	color:dimgray;
}
img{
	height: 400px;
	width: 600px;
}
span img{
	height: 200px;
	width: 300px;
}
li{
	
}
[type=text],[type=password],[type=email],[type=checkbox]{
	border:1px solid rgba(0,0,0,.3);
	border-radius: 5px;
	padding: 3px;
	margin: 3px;
	transition: 300ms;
}
[type=text]:hover,[type=password]:hover,[type=email]:hover,[type=checkbox]:hover{
	border:1px solid rgba(0,0,0,.5);
}
[type=submit]{
	padding: 7px;
	background-color: rgba(0,0,0,.3); 
	border:1px solid rgba(0,0,0,.2);
	border-radius: 2px;
	
	margin: 3px;
	transition: 300ms;
}
[type=submit]:hover{
	background-color: rgba(0,0,0,.5); 
	border:1px solid rgba(0,0,0,.1);
	color:white;
}
table th,table td{
	padding: 4px;
	border:1px solid rgba(0,0,0,0.4);
}
textarea{
	border:1px solid rgba(0,0,0,.2);
	width: 400px;
	height: 200px;
	padding: 10px;

}